<template lang="pug">
form.form-signin(style="padding-top: 200px;" @submit.prevent="login()")
  .text-center.mb-4
    h1.h3.mb-3.font-weight-normal Indentification

  .alert.alert-danger(v-if="error") {{ error }}
  .form-group
    input.form-control.rounded(type="email" id="inputEmail" placeholder="Email address" v-model="email" required autofocus)

  .form-group
    input.form-control.rounded(type="password" id="inputPassword" placeholder="Password" v-model="password" required)

  button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
  router-link.link(to="/register") Pas encore de compte ?
</template>

<script>
import querystring from 'querystring'
import axios from 'axios'


export default {
  data () {
    return {
      email: "",
      password: "",
      error: null
    }
  },
  methods: {
    login() {
      const credentials = { email: this.email, password: this.password }
      const config = { 'Content-Type': 'application/x-www-form-urlencoded'}

      axios
        .post('http://localhost:8000/api/users/login', querystring.stringify(credentials), config)
        .then(response => { 
          if (response.status === 200) { localStorage.setItem('token', response.data.token) }
          this.$router.push('/profile')
          console.log(localStorage.getItem('token'))
        })
        .catch(e => this.error = e.response.data.error)
    }
  }
}
</script>

<style>
.link {
  font-size: 0.9em;
  padding-top: 20px;
  float: right;
}
.center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>