<template lang="pug">
div.container(style="margin-top: 60px; max-width: 800px")
  div.card-body
    div.e-profile
      div.row
        div.col-12.col-sm-auto.mb-3
          div.mx-auto(style="width: 140px;")
            div.d-flex.justify-content-center.align-items-center.rounded(style="height: 140px; background-color: rgb(233, 236, 239);")
              span(style="color: rgb(166, 168, 170); font: bold 8pt Arial;140x140")

        div.col.d-flex.flex-column.flex-sm-row.justify-content-between.mb-3
          div.text-center.text-sm-left.mb-2.mb-sm-0
            h4.pt-sm-2.pb-1.mb-0.text-nowrap {{ user.firstname }} {{ user.lastname }}
            p.mb-0 {{ user.email }}
            p.mb-0 {{ user.username }}
            div.mt-2

          div.text-center.text-sm-right
            div.text-muted
              small {{ user.createdAt }}

      div.tab-content.pt-3
        div.tab-pane.active
          form.form(@submit.prevent="update()")
            div.row
              div.col
                div.row
                  div.col
                    div.form-group
                      label Prénom
                      input.form-control(type="text" name="firstname" placeholder="Ex: John" v-model="user.firstname")

                  div.col
                    div.form-group
                      label Nom
                      input.form-control(type="text" name="lastname" placeholder="Ex: DOE" v-model="user.lastname")

                div.row
                  div.col
                    div.form-group
                      label Username
                      input.form-control(type="text" placeholder="Ex: JDOE" v-model="user.username")

                div.row
                  div.col
                    div.form-group
                      label Email
                      input.form-control(type="text" placeholder="Ex: john.doe@gmail.com" v-model="user.email")

            div.row
              div.col.d-flex.justify-content-end.mt-4
                button.btn.btn-primary(type="submit") Modifier
</template>

<script>
  import axios from 'axios'
  import querystring from 'querystring'

  const getToken = () => localStorage.getItem('token')
  const config = { 
    'Content-Type': 'application/x-www-form-urlencoded',
    headers: {
      'Authorization': `Bearer ${localStorage.getItem('token')}`
    }
  }
  export default {
    data () {
      return {
        user: {},
      }
    },
    mounted () {
      axios
        .get('http://localhost:8000/api/users/me', config)
        .then(response => { this.user = response.data })
        .catch(e => this.$router.push('login'))
    },
    methods: {
      update () {
        axios
        .put('http://localhost:8000/api/users/me',querystring.stringify(this.user), config)
        .catch(e => console.log(e))
      }
    }
  }
</script>

<style lang="scss"></style>