<template lang="pug">
  .text-center.center
    form.form-signin(@submit.prevent="register()")
        img.mb-4(src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72")
        h1.h3.mb-3.font-weight-normal Inscription
        .alert.alert-danger(v-if="error") {{ error }}
        label.sr-only(for="inputFirstname") Firstname
        input.form-control(type="text" id="inputFirstname" placeholder="Firstname" required autofocus v-model="firstname")
        label.sr-only(for="inputLastname") Lastname
        input.form-control(type="text" id="inputLastname" placeholder="Lastname" required autofocus v-model="lastname")
        label.sr-only(for="inputUsername") Username
        input.form-control(type="text" id="inputUsername" placeholder="Pseudo" required autofocus v-model="username")
        label.sr-only(for="inputEmail") Email address
        input.form-control(type="email" id="inputEmail" placeholder="Adresse Email" required autofocus v-model="email")
        label.sr-only(for="inputPassword") Password
        input.form-control(type="password" id="inputPassword" placeholder="Mot de passe" required v-model="password")
        button.btn.btn-lg.btn-primary.btn-block S'inscrire
        p.mt-5.mb-3.text-muted &copy; Mai 2020
</template>

<script>
import querystring from 'querystring'
import axios from 'axios'

export default {
  data () {
    return {
      firstname: null,
      lastname: null,
      username: null,
      email: null,
      password: null,
      error: null
    }
  },
  methods: {
    register () {
      const config = { 'Content-Type': 'application/x-www-form-urlencoded'}
      const userValues = { 
        firstname: this.firstname,
        lastname: this.lastname,
        username: this.username,
        email: this.email,
        password: this.password 
      }

      axios
        .post('http://localhost:8000/api/users/register', querystring.stringify(userValues), config)
        .then(response => { this.$router.push('login') })
        .catch(e => this.error = e.response.data.error)
    }
  }
}
</script>

<style>
.center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>