<template lang="pug">
form.container(style="max-width: 800px; margin-top: 60px" @submit.prevent="create()")
  .alert.alert-danger(v-if="error") {{ error }}
  .form-group
    label(for="titleId") Titre
    input.form-control(type="text" id="titleId" aria-describedby="emailHelp" placeholder="Ex: M3" v-model="product.title" required)

  .form-group
    label(for="descriptionId") Description
    textarea.form-control(id="descriptionId" placeholder="Ex: Très bon état.." v-model="product.description" required)

  .form-group
    label(for="priceId") Prix
    input.form-control(type="number" id="priceId" placeholder="Ex: 10000" v-model="product.price" required)

  .form-group
    label(for="cityId") Ville
    input.form-control(type="text" id="cityId" placeholder="Ex: Paris" v-model="product.city" required)

  .form-group
    label(for="categoryId") Catégorie
    select.form-control(id="categoryId" v-model="product.category" required)     
      option(selected disabled hidden value="r") Catégories
      option(v-for="c in category" v-bind:value="c.name") {{ c.name }}
  
  button.btn.btn-primary(type="submit") Créer
</template>

<script>
import querystring from 'querystring'
import axios from 'axios'

export default {
  data () {
    return {
      product: {},
      category: null,
      error: null,
    }
  },
  mounted () {
    axios
      .get(`http://localhost:8000/api/categories`)
      .then(res => { if (res.status === 200) return this.category = res.data })
  },
  methods: {
    create () {
      const config = {
        'Content-Type': 'application/x-www-form-urlencoded',
        headers: {
          'Authorization': `Bearer ${localStorage.token}`
        }
      }
      console.log(this.product)
      axios
        .post('http://localhost:8000/api/product', querystring.stringify(this.product), config)
        .then(res => this.$router.push(`/product/${res.data.id}`))
        .catch(e => this.error = e.response.data.error)
    }
  }
}
</script>

<style>
.center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 40px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>