<template lang="pug">
div.container(style="margin-top: 60px; max-width: 800px")
  div.card-body
    div.e-profile
      div.row
        div.col-12.col-sm-auto.mb-3
          div.mx-auto(style="width: 140px;")
            div.d-flex.justify-content-center.align-items-center.rounded(style="height: 140px; background-color: rgb(233, 236, 239);")
              span(style="color: rgb(166, 168, 170); font: bold 8pt Arial;140x140")

        div.col.d-flex.flex-column.flex-sm-row.justify-content-between.mb-3
          div.text-center.text-sm-left.mb-2.mb-sm-0
            h3.pt-sm-2.pb-1.mb-0.text-nowrap {{ product.title }}
            p.mb-0 {{ product.price }} €
            p.mb-0 {{ product.description }}
            div.mt-2

          div.text-center.text-sm-right
            div.text-muted
              small {{ product.createdAt }}
</template>

<script>
import axios from 'axios'
export default {
	data () {
		return {
			id: this.$route.params.id,
			product: {},
		}
	},
	mounted () {
		axios
			.get(`http://localhost:8000/api/product/${this.id}`)
			.then(res => { if (res.status === 200) return this.product = res.data})
	}
}
</script>