<template lang="pug">
div
  .row
    .col-lg-7.mx-auto
      ul.list-group.my-3
        li.list-group-item.shadow.my-3.rounded.border-0
          form(@submit.prevent="searchButton()")
            .form-row 
              .form-group.col-md-7
                input#inputCity.form-control(type="text" placeholder="Rechercher.." v-model="searchValues.title")
              .form-group.col-md-5
                select.form-control#inputState(v-model="searchValues.category")
                  option(selected disabled hidden value="d") Catégories
                  option(v-for="c in category" v-bind:value="c.name") {{ c.name }}

            .form-row 
              .form-group.col-md-3
                input#inputMinPrice.form-control(type="float" placeholder="Prix min" v-model="minPrice")
              .form-group.col-md-3
                input#inputMaxPrice.form-control(type="float" placeholder="Prix max" v-model="maxPrice")
              .form-group.col-md-6
                input#inputCity.form-control(type="text" placeholder="Ville" v-model="searchValues.city")

              button.mt-3.btn.btn-primary(type="submit") Rechercher

        H5(v-if="notFound").mx-auto Aucun produit disponible pour cette recherche
        li.list-group-item.shadow.my-3.rounded(v-for="p in products" v-else)
          router-link(:to="`/product/${p.id}`").link.media.align-items-lg-center.flex-column.flex-lg-row.p-3
            .media-body.order-2.order-lg-1
              h5.mt-0.font-weight-bold.mb-2 {{ p.title }}
              p.font-italic.text-muted.mb-0.small {{ p.description }}
              .d-flex.align-items-center.justify-content-between.mt-1
                h4.font-weight-bold.my-2 {{ p.price }} €
                ul.list-inline.small
            img.ml-lg-5.order-1.rounded.order-lg-2(src="https://picsum.photos/200" alt="Generic placeholder image")

  .arrows(v-if="!notFound")
    nav(aria-label="Page navigation example")
      ul.pagination.justify-content-center.mt-5
        li.page-item
          button.page-link.border-0.ml-1(v-on:click="back" aria-label="Previous")
            span(aria-hidden="true") &laquo;
            span.sr-only Previous
        li.page-item
          p.pageNumber.page-link.border-0.ml-1(aria-label="Previous")
            span(aria-hidden="true") {{ page }}
        li.page-item
          button.page-link.border-0.ml-1(v-on:click="next" aria-label="Previous")
            span(aria-hidden="true") &raquo;
            span.sr-only Previous
</template>

<script>
import querystring from 'querystring'
import axios from 'axios'

export default {
  data () {
    return {
      products: null,
      pageNumber: null,
      page: 1,
      searchValues: {},
      minPrice: 0,
      maxPrice: null,
      category: [],
      notFound: false
    }
  },
  mounted () {
    localStorage.removeItem('searchValues')
    this.getLastestProducts(this.page)

    axios
      .get(`http://localhost:8000/api/categories`)
      .then(res => { if (res.status === 200) return this.category = res.data })

    axios
      .get(`http://localhost:8000/api/products/price/biggest`)
      .then(res => { if (res.status === 200) return this.maxPrice = res.data.maxPrice })
    // axios
    //   .get(`http://localhost:8000/api/city`)
    //   .then(res => { if (res.status === 200) return this.city = res.data })
  },
  methods: {
    searchButton () {
      localStorage.setItem('searchValues', this.encodeData(this.searchValues))
      this.search(1)
    },
    search (page) {
      this.notFound = false
      this.page = page
      axios
        .get(`http://localhost:8000/api/products/${page}?${localStorage.getItem('searchValues')}`)
        .then(res => { if (res.status === 200) return this.products = res.data})
        .catch(e => { if (e.response.status === 404) return this.notFound = true })
    },
    getLastestProducts (page) {
      this.page = page
      axios
        .get(`http://localhost:8000/api/products/latest/${page}`)
        .then(res => { if (res.status === 200) return this.products = res.data })
    },
    next () {
      axios
        .get(`http://localhost:8000/api/products/${this.page + 1}?${localStorage.getItem('searchValues')}`)
        .then(res => { this.page +=1; this.search(this.page) })
        .catch(e => this.page)
    },
    back () {
      this.page > 1 ? this.page -= 1 : this.page
      this.search(this.page)
    },
    encodeData (data) {
      if (this.minPrice != null || this.maxPrice != null) {
        data.price = `${this.minPrice}-${this.maxPrice}`
      }
      return Object.keys(data).map(function(key) {
          return [key, data[key]].map(encodeURIComponent).join("=");
      }).join("&")
    }
  }
}
</script>

<style lang="scss">
.text-gray {
    color: #aaa
}
.link {
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  } 
}
img {
    width: 140px
}
.active {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
}
form {
  padding: 30px;
}
.row {
  margin: 0;
}
.pageNumber {
  &:hover {
    background-color:transparent !important;
    color: #007bff;
  }
}
</style>