<template lang="pug">
	div
		TheHeader(v-if="$route.meta.header")
		router-view(:key="$route.fullPath")
</template>

<script>
import TheHeader from './components/layout/TheHeader.vue'

export default {
	components: {
		TheHeader
	}	
}
</script>